apiVersion: apps/v1
kind: Deployment
metadata:
  name: diploma-app
  namespace: default
  labels:
    app: diploma-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: diploma-app
  template:
    metadata:
      labels:
        app: diploma-app
    spec:
      imagePullSecrets:
        - name: yc-registry
      containers:
        - name: diploma-app
          image: cr.yandex/crpniv28skh9vtkejbtv/diploma-app:v1.0.0
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "128Mi"
              cpu: "200m"
          livenessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: diploma-app-service
  namespace: default
spec:
  type: NodePort
  selector:
    app: diploma-app
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30000
